mixin uploadsTable(kind)
  .panel(class="panel-default")
    .panel-heading #{kind} files uploads
    .panel-body
      table.table
        thead
          tr
            each name in ['Name', 'MD5', 'Upload date', 'Size', 'Action']
              th= name
        tbody
          tr(ng-repeat="item in uploaded#{kind}")
            td <strong>{{ item.Filename }}</strong>
            td {{ item.Md5 }}
            td {{ item.UploadDate }}
            td {{ item.Size }}
            td
              button(type="button" class="btn btn-success" ng-show="selected#{kind}Id != item.Id" ng-click="select#{kind}(item.Id)")
                span(class="glyphicon glyphicon-ok")
                |  Use 
              button(type="button" class="btn btn-danger" ng-click="remove#{kind}(item.Id)")
                span(class="glyphicon glyphicon-remove")
                |  Remove 
      form.inline_upload
        | Upload new #{kind.toLowerCase()}: 
        input(style="display:inline" type="file" nv-file-select uploader="uploader#{kind}" class="btn btn-success")
        button(type="button" class="btn btn-success btn-s" ng-click="uploader#{kind}.uploadAll()" ng-disabled="!uploader#{kind}.getNotUploadedItems().length")
          span(class="glyphicon glyphicon-upload")
          |  Upload 

div(ng-controller="dataUploadCtrl")
  +uploadsTable('Data')
  +uploadsTable('Control')
